

:root{
    --main-color:#8e44ad;
    --black:#222;
    --blue-ocean: #2323fc;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-dg: rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --border-top: .5rem solid var(--blue-ocean);
    --box-shadow:0 4rem 1rem rgba(0,0,0, .1);
    --box-shadow-2:0 3rem 1rem rgba(8, 8, 8, 0.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}



.contact .box-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    
}

.contact .box-container .box{
    padding: 4rem 4rem;
    background: #323233;
}


.booking .book-form{
    padding: 2rem 1rem;
    background: var(--light-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}


.booking .book-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.booking .book-form .flex .inputBox{
    flex: 1 1 41rem;
}

.booking .book-form .flex .inputBox input{
    width: 100%;
    padding:  1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .book-form .flex .inputBox textarea{
    width: 100%;
    height: 50%;
    padding:  1rem 1rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .book-form .flex .inputBox input:focus{
    background: var(--black);
    color: var(--white);
}

.booking .book-form .flex .inputBox textarea:focus{
    background: var(--black);
    color: var(--white);
}

.booking .book-form .flex .inputBox input:focus::placeholder{
    color: var(--light-white);
}

.booking .book-form .flex .inputBox textarea:focus::placeholder{
    color: var(--light-white);
}

.booking .book-form .flex .inputBox span{
    font-size: 1.5rem;
    color: var(--light-black);
}

.booking .book-form .box-btn{
    text-align: center;
}
.booking .book-form .btn{
    min-width: 20%;
}